<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!-- Bean definitions go here -->

    <bean id="orderDaoFileImpl"
          class="org.WileyEdgeCorp.FlooringMastery.dao.OrderDaoFileImpl"/>

    <bean id="productDaoFileImpl"
          class="org.WileyEdgeCorp.FlooringMastery.dao.ProductDaoFileImpl">
        <constructor-arg name="filePath" value="src/main/java/org/WileyEdgeCorp/FlooringMastery/Data/Products.txt"/>
    </bean>

    <bean id="taxDaoFileImpl"
          class="org.WileyEdgeCorp.FlooringMastery.dao.TaxDaoFileImpl">
        <constructor-arg name="filePath" value="src/main/java/org/WileyEdgeCorp/FlooringMastery/Data/States.txt"/>
    </bean>

    <bean id="serviceLayerImpl"
          class="org.WileyEdgeCorp.FlooringMastery.service.ServiceLayerImpl">
        <constructor-arg ref="orderDaoFileImpl"/>
        <constructor-arg ref="productDaoFileImpl"/>
        <constructor-arg ref="taxDaoFileImpl"/>
    </bean>

    <bean id="userIOConsoleImpl"
          class="org.WileyEdgeCorp.FlooringMastery.ui.UserIOConsoleImpl"/>

    <bean id="view"
          class="org.WileyEdgeCorp.FlooringMastery.ui.View">
    <constructor-arg ref="userIOConsoleImpl" />
    </bean>

    <bean id="controller"
          class="org.WileyEdgeCorp.FlooringMastery.controller.Controller">
        <constructor-arg ref="serviceLayerImpl" />
        <constructor-arg ref="view" />
    </bean>

</beans>